.event {
  position: relative;
  padding-top: 40px;
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
  display: flex;
  /* justify-content: stretch; */
  /* align-items: center; */
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
}
